.DS_Store
TI994A_PSU_Replacement/fp-info-cache
/TI994A_PSU_Replacement/TI994A_PSU_Replacement-backups
/JoystickAdaptor/TI_994A_Joystick_Adaptor-backups
JoystickAdaptor/TI_994A_Joystick_Adaptor.kicad_prl
JoystickAdaptor/fp-info-cache
/CassetteAdaptor/CassetteAdaptor-backups
CassetteAdaptor/CassetteAdaptor.kicad_prl
CassetteAdaptor/fp-info-cache
CassetteAdaptor/~CassetteAdaptor.kicad_pcb.lck
TI994A_PSU_Replacement/TI994A_PSU_Replacement.kicad_prl
CassetteAdaptor2/CassetteAdaptor2.kicad_prl
CassetteAdaptor2/fp-info-cache
/CassetteAdaptor2/CassetteAdaptor2-backups
TI994A_PSU_Replacement/Datasheets/DFR0831.kicad_prl
*.kicad_prl
/TI_994A_DIN-to-RCA/TI_994A_DIN-to-RCA-backups
